<%- include ('../../partials/head') %>
  <%- include ('../../partials/header') %>

    <article>
      <h2>
        <%= shift.date_formatted %>
      </h2>
      <h3>add units</h3>

    </article>
    <aside>
      <h3>right bar</h3>
    </aside>

    <%- include('../../partials/footer') %>