<header>
  <h1 class="h5"><a href="/">work tracker</a></h1>
  <nav>
    <button id="nav__btn" type="button">menu</button>
    <ul id="nav__list">
      <li><a href="/shifts?sort=-date">shift dashboard</a></li>
      <li><a href="/shifts/add">add shift</a></li>
      <li><a href="/shifts/units">add units</a></li>
      <li><a href="/logout">logout</a></li>
    </ul>
  </nav>
</header>

<main class="main">